.modal{

    position: absolute;
    top:42rem ;
    display: none;
    justify-content: end;
    color: white;
}

.textUserError{
    color: red;
    display: none;
}

.textPassError{
    color: red;
    display: none;
}

.counter{
    background-color: white;
    width: 30px;
    height: 30px;
}